.hashTag {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.container {
  width: 1320px;
  margin: 0 auto;
}

.title {
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  margin: 40px 0 24px 0;
}

//@media(max-width: 1350px) {
//  width: 768px;
//  margin: 0 auto;
//}